* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  background-color: #f2f2f2;
  font-size: 15px;
}
#container {
  min-width: 63.8888%;
  height: 500px;
  display: flex;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row {
  width: 33.3333%;
  height: 100%;
  padding:48px;
}
.row h2 {
  font-family: 'Big Shoulders Display', cursive;
  color: #f2f2f2;
  font-size: 39.5px;
  margin-bottom: 27px;
  letter-spacing: 0.1px;
}
.row p {
  width: 100%;
  font-size: 14px;
  font-family: 'Lexend Deca', sans-serif;
  color: #f2f2f2cc;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.5px;
}
.row button {
  margin-top: 82px;
  padding: 12px 14%;
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  color: #f2f2f2cc;
  background-color: #ffffff00;
  border-radius: 30px;
  border: 2.5px solid #f2f2f2;
}
svg {
  margin:0 0 31px 0;
}
.row:nth-child(1) {border-radius: 8px 0 0 8px;}
.row:nth-child(3) {border-radius: 0 8px 8px 0;}

/* background-color of rows */
.row:nth-child(1) {background-color:#e38826 }
.row:nth-child(2) {background-color: #006970}
.row:nth-child(3) {background-color: #004241}

@media screen and (max-width: 1315px) {

  #container {
    width: 75%;
  }

}
@media screen and (max-width: 1040px) {

  #container {
    width: 88%;
  }

}
@media screen and (max-width: 820px) {

  #container {
    height: 560px;
  }

}

@media screen and (max-width: 375px) {
  body {
    height: 1502px;
  }
  #container {
    min-width: 87.2%;
    height: 1326px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    margin-bottom: 50px;
  }
  .row {
    width: 100%;
    height: 442px;
  }
  .row:nth-child(1) {border-radius: 8px 8px 0 0;}
  .row:nth-child(3) {border-radius: 0 0 8px 8px;}
  .row:nth-child(1) button {color: #e38826;}
  .row:nth-child(2) button {color: #006970;}
  .row:nth-child(3) button {color: #004241;}
  .row p {
    width: 103%;
  }
  .row button {
    margin-top: 24px;
    padding: 12px 13%;
    background-color: white;
  }
}



